.use-frispes-inner {
  @include inner;
}

.use-frispes-head {
  text-align: center;
}

.use-frispes-title {
  @include h2;
}

.use-frispes-subtitle {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #9a9a9a;
  margin-bottom: 56px;
}

.uses {
  display: flex;
  justify-content: center;

  li {
    padding-right: 60px;
  }
}
